@using M2SA.AppGenome.Data;
@using JXBC.WebCore;
@using JXBC.Passports;
@{
    ViewBag.Title = "举贤令";

    var list = (IList<UserPassport>)Model;

    var getGenderText = new Func<int, string>((gender) =>
    {
        if (gender == 0)
            return "男";
        else if (gender == 1)
            return "女";

        return "未填写";
    });
    var getStatusText = new Func<AttestationStatus, string>((status) =>
    {
        if (status == AttestationStatus.Submited)
            return "待审核";
        else if (status == AttestationStatus.Passed)
            return "认证通过";
        else if (status == AttestationStatus.Rejected)
            return "认证未通过";

        return "未申请";
    });
}
<div id="breadcrumbs" class="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i><a href="/">首页</a>
        </li>
        <li class="active">业务管理</li>
        <li class="active">猎头认证申请</li>
    </ul>
</div>

<div>
    快速筛选：
    <a href="@Request.Url.PathAndQuery.Replace("&status="+ViewBag.AttestationStatus,"")&status=Submited">待审核</a>&ensp;&ensp;
    <a href="@Request.Url.PathAndQuery.Replace("&status="+ViewBag.AttestationStatus,"")&status=Passed">认证通过</a>&ensp;&ensp;
    <a href="@Request.Url.PathAndQuery.Replace("&status="+ViewBag.AttestationStatus,"")&status=Rejected">认证未通过</a>
</div>

@if (null != list && list.Count > 0)
{
    <div class="table-common">
        <table class="table-bordered" align="center" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="table-td-2 th-header">ID</th>
                    <th class="table-td-2 th-header">猎头等级</th>
                    <th class="table-td-7 th-header">姓名/公司</th>
                    <th class="table-td-3 th-header">电话</th>
                    <th class="table-td-1 th-header">性别</th>
                    <th class="table-td-4 th-header">行业/职能</th>
                    <th class="table-td-3 th-header">注册时间</th>
                    <th class="table-td-2 th-header">认证状态</th>
                    <th class="table-td-2 th-header">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userPassport in list)
                {
                    var profile = (ConsultantProfile)userPassport.Profile;
                    <tr>
                        <td class="textalign-center">@profile.PassportId</td>
                        <td class="textalign-center">
                            @for (var i = 0; i < profile.ConsultantGrade; i++)
                            {<i class="img-grade"></i>}
                        </td>
                        <td class="textalign-center">
                            <span class="pull-left"><img class="avatar" src="@profile.Avatar" /></span>
                            <label class="avatar-text">
                                @profile.RealName <br />                                
                                @profile.Identity <br />
                                @profile.ConsultantCompany <br />
                            </label>
                        </td>
                        <td class="textalign-center">@profile.MobilePhone</td>
                        <td class="textalign-center">@getGenderText(profile.Gender)</td>
                        <td class="textalign-center">@profile.ServiceIndustryText <br /> @profile.ServiceJobCategoriesText</td>
                        <td class="textalign-center">@profile.ModifiedTime.ToString("yyyy-MM-dd HH:mm")</td>
                        <td class="textalign-center">@getStatusText(profile.AttestationStatus)</td>
                        <td class="textalign-center"><a href="ConsultantApplyDetail/@userPassport.PassportId" target="_blank">查看详情</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="fenye">
    @Html.Partial("_common_Pagination_Numbers", new Tuple<Pagination, Func<int, string>>((Pagination)ViewBag.Pagination, null))
</div>