@using JXBC.WebCore;
@using JXBC.Passports;

@{
    ViewBag.Title = "举贤令";
    var userPassport = (UserPassport)Model;
    var profile = (ConsultantProfile)userPassport.Profile;
    var consultantGrade = 3;
    if (profile.ConsultantGrade > 0)
    {
        consultantGrade = profile.ConsultantGrade;
    }
}

<div id="breadcrumbs" class="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i><a href="/">首页</a>
        </li>
        <li class="active">业务管理</li>
        <li class="active">猎头服务认证</li>
        <li class="active">详情</li>
    </ul>
</div>

<div>
    <div class="col-md-offset-2 col-md-8 container_form">
        <form class="form-horizontal" role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    猎头身份信息 
                    @if (profile.AttestationStatus == AttestationStatus.None)
                    {
                        <span style="font-weight:bold;font-size:16px;color:#cccccc;margin-left:30px;"><i class="icon-circle-blank"></i> 未申请</span>
                    }
                    else if (profile.AttestationStatus == AttestationStatus.Submited)
                    {
                        <span style="font-weight:bold;font-size:16px;color:#FFCC99;margin-left:30px;"><i class="icon-time"></i> 待审核</span>
                    }
                    else if (profile.AttestationStatus == AttestationStatus.Passed)
                    {
                        <span style="font-weight:bold;font-size:16px;color:#003366;margin-left:30px;">
                            <i class="icon-time"></i> 认证通过                            
                        </span>
                    }
                    else if (profile.AttestationStatus == AttestationStatus.Rejected)
                    {
                        <span style="font-weight:bold;font-size:16px;color:#CC3333;margin-left:30px;"><i class="icon-time"></i> 认证未通过</span>
                    }
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名</label>
                        <div class="col-sm-8">
                            <label class="col-sm-12 control-label textalign-left">
                                <span class="pull-left"><img class="avatar" src="@profile.Avatar" /></span>
                                <label class="avatar-text">
                                    @profile.RealName 
                                    @for (var i = 0; i < profile.ConsultantGrade; i++)
                                    {<i class="img-grade"></i>}<br />
                                    @profile.ConsultantCompany <br />
                                    @profile.Identity <br />
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">公司</label>
                        <div class="col-sm-8">
                            <label class="col-sm-12 control-label textalign-left">@profile.ConsultantCompany</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">注册电话</label>
                        <div class="col-sm-8">
                            <label class="col-sm-12 control-label textalign-left">@userPassport.MobilePhone</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">认证身份</label>
                        <div class="col-sm-8">
                            <label class="col-sm-12 control-label textalign-left"><b>@profile.Identity</b></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">提交的材料</label>
                        <div class="col-sm-8">
                            <div class="col-sm-12 control-label textalign-left">
                                @if (null != profile.AuthenticationImages)
                            {
                                foreach (var imgUrl in profile.AuthenticationImages)
                                {
                                        <img style="width:200px;" src="@imgUrl" /><br />
                                    }
                            }
                                else if (null != profile.VisitingCard)
                                {
                                    <img style="width:200px;" src="@profile.VisitingCard" /><br />
                                }
                                else
                                {
                                    <span style="color:red;">没有认证材料</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div role="alert" class="col-md-offset-2 col-md-8 alert alert-warning text-center">
    <span>
        @if (profile.AttestationStatus != AttestationStatus.Passed)
                    {
            <a id="btnPassed" class="btn btn-primary" href="javascript:;">认证通过</a>
        }
        @if (profile.AttestationStatus != AttestationStatus.Rejected)
                    {
            <a id="btnRejected" class="btn btn-default" href="javascript:;">认证未通过</a>
        }
    </span>
</div>

@section _resources_footer {

<div class="tanceng_common" id="success-modal" style="display:none;">
    <form>
        <div class="form-group">
            <div class="text-center">
                猎头等级：
                <select name="selConsultantGrade">
                    <option value="1" @if(consultantGrade == 1) { @Html.Raw("selected"); }>1星</option>
                    <option value="2" @if(consultantGrade == 2) { @Html.Raw("selected"); }>2星</option>
                    <option value="3" @if(consultantGrade == 3) { @Html.Raw("selected"); }>3星</option>
                    <option value="4" @if(consultantGrade == 4) { @Html.Raw("selected"); }>4星</option>
                    <option value="5" @if(consultantGrade == 5) { @Html.Raw("selected"); }>5星</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button role="cancel" type="button" class="btn btn-primary" data-status="@(AttestationStatus.Passed)">认证通过</button>
        </div>
    </form>
</div>
<div class="tanceng_common" id="fail-modal" style="display:none;">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10"  role="message"> 
                    <p>理由</p>
                    <textarea class="form-control" maxlength="500" name="rejectedReason" rows="3" placeholder="必填，不能超过500字"></textarea>
                    <label style="display:none" class="error"></label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-status="@(AttestationStatus.Rejected)">确定</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#commonModal').on('click', '.btn-primary', function (){
                            var consultantGrade = null, rejectedReason = null;
                            var reasonControl = $("#commonModal textarea[name='rejectedReason']");
                            if(reasonControl.size()>0) {
                                rejectedReason = reasonControl.val();
                                if (rejectedReason.length < 1) {
                    $('#commonModal .error').html('不能为空').show();
                                    return;
                                } else if (rejectedReason.length > 100) {
                    $('#commonModal .error').html('不能超过100字').show();
                                    return;
                                }
                            }

                            var gradeControl = $("#commonModal select[name='selConsultantGrade']");
                            if(gradeControl.size()>0) { consultantGrade = gradeControl.val(); }

                            var $this = $(this);
            $this.onPosting();
            $.post('/ApplyManager/ConsultantAuthenticate'
                , { 'passportId': @(userPassport.PassportId), 'status': $this.data('status'), 'grade': consultantGrade, 'rejectedReason': rejectedReason }
                , function (res) {
                    $this.resetPostStatus();
                                if (res.success) {
                        $('#commonModal [role="message"]').html('操作成功！');
                        $('#commonModal .btn-primary').remove();
                                    setTimeout(location.reload(), 6000);
                                }
                            }, 'json');
                        });

        $('#btnPassed').click(function () {
                            console.info("btnPassed.click");
                            jx.modal.show($('#success-modal'), '认证通过');
                        });

        $('#btnRejected').click(function () {
                            console.info("btnRejected.click");
                            jx.modal.show($('#fail-modal'), '认证未通过');
                        });
                    });
</script>
}
