@using M2SA.AppGenome.Data;
@using JXBC.Workplace;
@using JXBC.WebCore;
@using JXBC.WebCore.ViewModels;

@{
    ViewBag.Title = "举贤令";
    var entity = (CareerServiceEntity)Model;
}

<div id="breadcrumbs" class="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i><a href="/">首页</a>
        </li>
        <li class="active">业务管理</li>
        <li class="active">服务审核</li>
        <li class="active">服务详情</li>
    </ul>
</div>
    

<div>
    <div class="col-md-offset-2 col-md-8 container_form">
        <form role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    服务详情
                    @if (entity.AttestationStatus == AttestationStatus.Submited)
                    {
                        <span style="font-weight:bold;font-size:16px;color:#FFCC99;margin-left:30px;"><i class="icon-time"></i> 待审核</span>
                    }
                    else if (entity.AttestationStatus == AttestationStatus.Passed)
                    {
                        <span style="font-weight:bold;font-size:16px;color:#003366;margin-left:30px;"><i class="icon-ok-sign"></i> 认证通过</span>
                    }
                    else if (entity.AttestationStatus == AttestationStatus.Rejected)
                    {
                        <span style="font-weight:bold;font-size:16px;color:#CC3333;margin-left:30px;"><i class="icon-ban-circle"></i> 认证未通过</span>
                    }
                </div>
                <div class="panel-body">
                    <div style="margin:10px 0;">
                        <label style="font-weight:bold;font-size:16px;">服务简介</label>
                        <div>@entity.Subject</div>
                    </div>
                    <div style="margin:10px 0;">
                        <label style="font-weight:bold;font-size:16px;">服务内容</label>
                        <ul>
                            @if(null != entity.Contents)
                            {
                                foreach(var text in entity.Contents)
                                {
                                    <li><i class="icon-ok-sign"></i> @text</li>
                                }
                            }
                        </ul>
                    </div>
                    <div style="margin:10px 0;">
                        <label style="font-weight:bold;font-size:16px;">服务价格</label>
                        <div style="font-weight:bold;color:red;">@entity.Price.ToString("C") / 月</div>
                    </div>
                    <div style="margin:10px 0;">
                        <label style="font-weight:bold;font-size:16px;">猎头信息</label>
                        <div style="width:200px">
                            <span class="pull-left"><img class="avatar" src="@entity.Profile.Avatar" /></span>
                            <span style="float:left;margin-left:12px;"><br />
                                @entity.Profile.RealName @for (var i = 0; i < entity.Profile.ConsultantGrade; i++) { @Html.Raw("<i class='icon-star'></i>")}<br/>
                                @entity.Profile.Identity
                            </span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div style="margin:10px 0;">
                        <label style="font-weight:bold;font-size:16px;">个人简介</label>
                        <div>@Html.Raw(entity.Profile.SelfIntroduction.Replace("\n", "<br/>"))</div>
                    </div>
                    <div style="margin:10px 0;">
                        <label style="font-weight:bold;font-size:16px;">猎头风采</label>
                        <div><img style="width:200px;" src="@entity.Picture" /></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div role="alert" class="col-md-offset-2 col-md-8 alert alert-warning text-center">
    <span>
        @if (entity.AttestationStatus != AttestationStatus.Passed)
                    {
            <a id="btnPassed" class="btn btn-primary" href="javascript:;">认证通过</a>
        }
        @if (entity.AttestationStatus != AttestationStatus.Rejected)
                    {
            <a id="btnRejected" class="btn btn-default" href="javascript:;">认证未通过</a>
        }
    </span>
</div>

@section _resources_footer {

<div class="tanceng_common" id="success-modal" style="display:none;">
    <form>
        <div class="form-group">
            <p class="p_common" role="message">确定要通过吗？</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button role="cancel" type="button" class="btn btn-primary" data-status="@(AttestationStatus.Passed)">确定</button>
        </div>
    </form>
</div>
<div class="tanceng_common" id="fail-modal" style="display:none;">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10"  role="message"> 
                    <p>理由</p>
                    <textarea class="form-control" maxlength="500" name="rejectedReason" rows="3" placeholder="必填，不能超过500字"></textarea>
                    <label style="display:none" class="error"></label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-status="@(AttestationStatus.Rejected)">确定</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#commonModal').on('click', '.btn-primary', function (){
                            var rejectedReason = null;
                            var control = $("#commonModal textarea[name='rejectedReason']");
                            if(control.size()>0) {
                                rejectedReason = control.val();
                                if (rejectedReason.length < 1) {
                    $('#commonModal .error').html('不能为空').show();
                                    return;
                                } else if (rejectedReason.length > 100) {
                    $('#commonModal .error').html('不能超过100字').show();
                                    return;
                                }
                            }

            var $this = $(this);
            $this.onPosting();
            $.post('/ApplyManager/ServiceAuthenticate'
                , { 'id': @(entity.ServiceId), 'status': $this.data('status'), 'rejectedReason': rejectedReason }
                , function (res) {
                    $this.resetPostStatus();
                    if (res.success) {
                        $('#commonModal [role="message"]').html('操作成功！');
                        $('#commonModal .btn-primary').remove();
                        setTimeout(location.reload(), 6000);
                    }
            }, 'json');
        });

        $('#btnPassed').click(function () {
            console.info("btnPassed.click");
            jx.modal.show($('#success-modal'), '审核通过');
        });

        $('#btnRejected').click(function () {
            console.info("btnRejected.click");
            jx.modal.show($('#fail-modal'), '审核未通过');
        });
    });
</script>
}
